<div class="row flex-nowrap">
  <div class="col-auto px-sm-2 px-0 bg-dark">
    <div class="d-flex flex-column align-items-center align-items-sm-start px-3 pt-2 text-white min-vh-100">
      <a href="/" class="d-flex align-items-center pb-3 mb-md-0 me-md-auto text-white text-decoration-none">
        <span class="fs-5 d-none d-sm-inline">Xin chào <%= session.user.username %></span>
      </a>
      <div class="nav nav-pills flex-column mb-sm-auto mb-0 align-items-center align-items-sm-start" id="menu">
        <a href="/" class="nav-link align-middle px-0">
          <i class="fs-4 bi-house"></i>
          <span class="ms-1 d-none d-sm-inline text-white">Quản lý người dùng</span>
        </a>
        <a href="/viewAllEvent" class="nav-link px-0 align-middle">
          <i class="fs-4 bi-table"></i>
          <span class="ms-1 d-none d-sm-inline text-white">Quản lý sự kiện</span></a>
        <a href="/group" class="nav-link align-middle px-0">
          <i class="fs-4 bi-house"></i>
          <span class="ms-1 d-none d-sm-inline text-white">Quản lý nhóm</span>
        </a>
        <!-- <a href="#" class="nav-link px-0 align-middle text-white ">
                    <i class="fs-4 bi-bootstrap"></i> <span class="ms-1 d-none d-sm-inline">Bootstrap</span>
                </a>
                <a href="#" class="nav-link px-0 align-middle text-white ">
                    <i class="fs-4 bi-grid"></i> <span class="ms-1 d-none d-sm-inline">Products</span> </a>
                <a href="#" class="nav-link px-0 align-middle text-white ">
                    <i class="fs-4 bi-people"></i> <span class="ms-1 d-none d-sm-inline">Customers</span>
                </a> -->
      </div>
      <div class="pb-4">
        <% if(!session.user) { %>
          <a href="/login" class="d-flex align-items-center text-white text-decoration-none">
            <i class="fa-solid fa-right-to-bracket"></i>
            <span class="flex d-none d-sm-inline mx-1">Đăng nhập</span>
          </a>
          <% } else { %>
            <a href="/logout" class="d-flex align-items-center text-white text-decoration-none">
              <i class="fa fa-sign-out" aria-hidden="true"></i>
              <span class="flex d-none d-sm-inline mx-1">Đăng xuất</span>
            </a>
            <% } %>
      </div>
    </div>
  </div>
</div>